ol[data-sonner-toaster] {
	list-style: none !important;
}

[data-raidx-select-item] {
	cursor: pointer !important;
	font-weight: 400;
}

[data-radix-select-trigger] {
	font-weight: 400;
}

.interactive-tooltip {
	pointer-events: auto !important;
}

[data-diagram-editor-modal] > :nth-child(2) {
	height: 100%;
}

[data-modal-root] .monaco-editor {
	outline: none !important;
}

[data-modal-root] a {
	color: hsl(var(--primary-fg), 0.7);
	text-decoration: underline;
	text-underline-offset: 24%;
	text-decoration-thickness: 0;
}

[data-modal-root] a:hover {
	color: hsl(var(--primary-fg));
	text-decoration: underline;
	text-underline-offset: 24%;
	text-decoration-thickness: 0;
}

[data-sign-in-enteprise-form] {
	max-width: min(420px, calc(100vw - 32px));
}

@media (min-width: 1024px) {
	[data-sign-in-enteprise-form] {
		max-width: min(432px, calc(100vw - 32px));
	}
}

[aria-haspopup="menu"] {
	display: flex;
}

.ui-kit {
	z-index: var(--z-index-article-modal);
}

.ui-kit form {
	font-weight: 400;
}

[data-upper-error] {
	z-index: 1005;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
