<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<title>Gramax</title>
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, interactive-widget=resizes-content, viewport-fit=cover"
		/>

		<%- criticalStyle %> <%- vars %> <%- themes %>
		<script>
			const global = {};
		</script>
		<!-- import env script -->
		<script defer type="module" src="./src/index.tsx"></script>
	</head>
	<%- tryOpenInDesktop %>
	<body>
		<div data-qa="app" id="root"></div>
	</body>
	<%- bodyDatasetInjector %>
</html>
