# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

apps/.storage
.vite-cache
gramax-wasm.worker.js
bun.lockb
Cargo.lock
target
.ci/github-private-key
apps-build-artifacts
app/test/docs/.storage

apps/next/public

# e2e
/e2e/report

# target -> next
out/
.next/
next-env.d.ts

# target -> vite
.build
/apps/gramax-cli/build

# plugins SDK (generated)
/core/public/plugins/sdk.js
/apps/next/public/plugins/sdk.js

# target -> application
/application/bin
/application/dist
/application/doc-reader

#services
!services/target
dist

# services -> diagram-renderer
work.svg
work.ts

# dependencies

node_modules
IndexCaches
testFiles
/.pnp
.npm/
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage
private.env

# mix
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.env*
junit*.xml
.idea/


!apps/browser/crates/gramax-wasm/dist
apps/next/gramaxVersion.txt
