.article .admonition {
	margin: 1em 0;
}

.admonition {
	display: flex;
	padding: 1em var(--distance-admonition);
	border-left: solid 0.125em transparent;
	border-top-right-radius: var(--radius-large);
	border-bottom-right-radius: var(--radius-large);
}

.admonition .title {
	cursor: default;
}

.admonition .content-hide {
	height: 0;
	overflow: hidden;
	pointer-events: none;
	opacity: 0;
}

.admonition .title.clickable {
	cursor: pointer;
}

.admonition-row {
	--distance-admonition: 1em;
	flex-direction: row;
	align-items: flex-start;
}
.admonition-column {
	--distance-admonition: 1em;
	flex-direction: column;
	align-items: flex-start;
}

.admonition-row > .admonition-heading {
	width: var(--heading-row-width-admonition);
	margin-bottom: 0 !important;
}

.admonition-row .admonition-content {
	width: calc(100% - var(--heading-row-width-admonition));
}

.admonition-heading {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 0.7em;
}

.admonition-heading.expanded {
	margin-bottom: 0;
}

.admonition-heading .titleWrapper {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
}

.admonition-heading .titleWrapper .title {
	display: flex;
	width: 100%;
}

.admonition-heading .admonition-icon {
	display: flex;
	align-items: flex-start;
	font-size: 20px;
}

.admonition-heading .title {
	margin-left: 0.5em;
	font-weight: 500;
	line-height: 1.5em;
	vertical-align: top;
}

.admonition-icon i {
	padding: 4px 0;
	vertical-align: top;
}

.admonition-content {
	width: 100%;
	overflow: visible;
}

.admonition-content-ml {
	margin-left: var(--distance-admonition);
}

.admonition-content ul {
	margin: inherit;
	margin-left: 0;
}

.admonition-content > ul:first-of-type {
	padding-left: 18px;
	margin-left: 0;
}

.admonition-quote {
	background: var(--color-admonition-quote-bg);
	border-color: var(--color-admonition-quote-border);
}

.admonition-quote .admonition-heading *,
.admonition-quote strong {
	font-weight: var(--font-weight-admonition);
	color: var(--color-admonition-text);
}

.admonition-lab {
	background: var(--color-admonition-lab-bg);
	border-color: var(--color-admonition-lab-br-h);
}
.admonition-lab .admonition-heading *,
.admonition-lab strong {
	color: var(--color-admonition-lab-br-h);
}

.admonition-tip {
	background: var(--color-admonition-tip-bg);
	border-color: var(--color-admonition-tip-br-h);
}
.admonition-tip .admonition-heading *,
.admonition-tip strong {
	color: var(--color-admonition-tip-br-h);
}

.admonition-info {
	background: var(--color-admonition-info-bg);
	border-color: var(--color-admonition-info-br-h);
}
.admonition-info .admonition-heading *,
.admonition-info strong {
	color: var(--color-admonition-info-br-h);
}

.admonition-note {
	background: var(--color-admonition-note-bg);
	border-color: var(--color-admonition-note-br-h);
}
.admonition-note .admonition-heading *,
.admonition-note strong {
	color: var(--color-admonition-note-br-h);
}

.admonition-danger {
	background: var(--color-admonition-danger-bg);
	border-color: var(--color-admonition-danger-br-h);
}
.admonition-danger .admonition-heading *,
.admonition-danger strong {
	color: var(--color-admonition-danger-br-h);
}

.admonition-hotfixes {
	background: var(--color-admonition-hotfixes-bg);
	border-color: var(--color-admonition-hotfixes-br-h);
}
.admonition-hotfixes .admonition-heading *,
.admonition-hotfixes strong {
	color: var(--color-admonition-hotfixes-br-h);
}

.admonition-cut {
	padding: 4px 0px 4px var(--distance-admonition);
	margin: 0 0 0.7em;
	border-left: solid 2px var(--color-line);
}

.article .admonition.admonition-cut {
	margin: 0;
	margin-bottom: 0.7em;
}

.admonition-cut > .admonition-heading {
	margin-bottom: 0;
	color: var(--color-article-heading-text);
	cursor: pointer;
}
/* .admonition-cut > .admonition-heading:hover {
	color: var(--color-primary);
} */
.admonition-cut > .admonition-heading i {
	font-size: 1rem;
	line-height: 100%;
}

.admonition-cut > .admonition-content {
	margin-top: 0.7em;
}

.admonition-content > *:last-child,
.admonition-content ul:last-child li:last-child,
.admonition-content ol:last-child li:last-child,
.admonition-content ul:last-child li:last-child > *:last-child,
.admonition-content ol:last-child li:last-child > *:last-child {
	margin-bottom: 0 !important;
}

.admonition-content > *:first-child {
	margin-top: 0 !important;
}

.admonition-content .resource-caption {
	margin-bottom: 0.5em !important;
}
