.article-body .beta,
.article-body .alfa {
	padding: 1px 3px;
	font-size: 12px;
	color: white;
	background: var(--color-warning);
	border-radius: var(--radius-small);
}

.article-body .alfa:before {
	content: "\03B1lfa";
}
.article-body .alfa {
	background: var(--color-danger);
}

.article-body h3 .alfa,
.article-body h2 .alfa,
.article-body h3 .beta,
.article-body h2 .beta {
	position: relative;
	top: -8px;
}

.article-body span.module {
	font-weight: 400;
	zoom: 0.8;
}

.article-body h2 span.module {
	zoom: 0.6;
}

.article-body .beta:before {
	content: "\3b2";
}
.article-body .beta:after {
	/* странный баг с разбиением b от eta. Пришлось разделить */
	content: "eta";
}

.article-body h2 span.module,
.article-body h2 .beta {
	margin-right: 10px;
}

.article-body > h2:first-of-type {
	margin-top: 0;
}
