@import "vars.css";
@import "code-block.css";

.article {
	line-height: 1.8;
	word-wrap: break-word;
	color: var(--color-article-text);
	background: var(--color-article-bg);
	scrollbar-gutter: stable;
}

.article *:has(> .node-actions) {
	position: relative;
}

.article suggestion {
	cursor: pointer;
	text-decoration: var(--color-danger) wavy underline;
	-webkit-text-decoration: var(--color-danger) wavy underline;
}

.article.global .btn {
	display: flex;
	cursor: pointer;
	font-weight: 300;
	margin-top: 1rem;
	border-radius: var(--radius-small);
	width: fit-content;
	align-items: center;
	text-decoration: none;
	padding: 0.33rem 0.88rem;
	background: var(--color-code-bg);
	color: var(--color-article-heading-text);
	border: 1px solid var(--color-article-heading-text);
}

.article .monochrome-code-block,
.article .monochrome-code-block span {
	color: var(--color-fence-text);
}

.article.global .btn:hover {
	opacity: 0.8;
	color: var(--color-article-bg);
	background: var(--color-article-heading-text);
}

.search-highlight {
	background-color: var(--color-article-hotkey-search-bg);
	color: var(--color-article-hotkey-search-text);
}

.search-highlight-active {
	background-color: var(--color-article-hotkey-search-bg-active);
}

.docportal-sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article .article-description {
	margin-top: -1rem;
}

.article h1 {
	margin-bottom: 0.5em;
	color: var(--color-article-heading-text);
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
	font-weight: var(--font-weight-article-heading);
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: var(--color-article-heading-text);
}

.article h1.article-title {
	margin-bottom: 0.5em;
	margin-top: 0;
	width: 100%;
}

.article .article-body > h1 + article > :is(h2, h3, h4):first-child {
	margin-top: 0.5em;
}

.article .h2 + ul,
.article .h3 + ul,
.article .h2 + ul + .admonition + ul,
.article ul {
	padding-left: 20px;
}

.article .h2 + ol,
.article .h3 + ol,
.article ol {
	padding-left: 2em;
}

.article .code-copped {
	position: relative;
}

details {
	padding-left: 25px;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: solid 1px var(--color-line);
}

details summary {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.4em;
	cursor: pointer;
}

details summary:hover {
	color: var(--color-primary);
}

details summary:focus {
	outline: 0;
}

details summary::-webkit-details-marker {
	display: none;
}

details summary:before {
	margin-left: -25px;
	position: absolute;
	color: var(--color-primary);
	font-family: "Font Awesome 6 Pro", sans-serif;
	content: "\2b";
	font-size: 18px;
	line-height: 30px;
}

details[open] summary:before {
	content: "\f068";
}

details summary::marker {
	content: none;
}

code,
kbd,
pre,
samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 90%;
}

article a i.link-icon {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}

article a span.external-link-wrapper {
	display: inline-flex;
}

.article p,
.article ul,
.article ol {
	margin: 0 0 0.7em;
	line-height: 1.8em;
}

.article p:empty {
	height: 1.7em;
}

.article li {
	line-height: 1.6em;
}

.article li::marker {
	user-select: none;
}

.article ul[data-type="taskList"] {
	padding: 0 !important;
}

.article ul[data-type="taskList"] > li::before,
.article ul > .task-item::before {
	display: none !important;
}

.article ul[data-type="taskList"] > li {
	display: flex;
	align-items: flex-start;
	gap: 0.35em;
	margin-bottom: 0 !important;
}
.article ul[data-type="taskList"] > li label {
	display: flex;
	align-items: center;
	height: 1.7em;
}

.article ul[data-type="taskList"] > li label input {
	width: 1.15em;
	height: 1.15em;
}

.article ul[data-type="taskList"] > li > div {
	flex: 1 1 auto;
}

.article ul li > :last-child > p {
	margin: unset;
	line-height: 1.7em;
	margin-bottom: 0.4em !important;
	min-width: 1em;
}

.article .attr {
	white-space: nowrap;
	font-size: 15px;
}

:root .article .attr i {
	--fa-secondary-opacity: 1;
}

:root.theme-dark .article .attr i {
	--fa-secondary-opacity: 0.4;
}

.article .attr i {
	font-size: 15px;
	--fa-secondary-color: #e8e8e8;
}

.article .attr .delimiter {
	opacity: 0.2;
	padding: 0 0.7em;
}

.article .article-body {
	flex: 1;
	display: flex;
	position: relative;
	flex-direction: column;
	counter-reset: question 0;
}

.article {
	counter-reset: question 0 question-readonly 0;
}

.article .node-question {
	counter-increment: question 1;
}

.article .node-question .question-number::before {
	content: counter(question);
}

.article .question {
	counter-increment: question-readonly 1;
}

.article .question .question-number::before {
	content: counter(question-readonly);
}

.article .article-body ol,
.article .article-body ul {
	margin-block-start: 0;
	margin-bottom: 0.7em;
}

.article .article-body ol > li ol,
.article .article-body ul > li ul {
	margin-bottom: 0;
}

.article .article-body li,
.article .article-body li > p {
	margin-bottom: 0.4em;
}

.article .article-body ul {
	list-style: none;
}

.article .article-body ol {
	counter-reset: listitem 0;
	list-style: none;
	padding-left: 2em;
}

.article .article-body ol,
.article .article-body ul {
	position: relative;
	display: flow-root;
}

.article .article-body ol > li::before {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: -2.75em;
	margin-top: 0.4em;
	width: 2em;
	height: 2em;
	font-weight: 600;
	line-height: 1em;
	font-size: 0.625em;
	position: absolute;
	border-radius: 100%;
}

.article .article-body ol > li:has(> ol),
.article .article-body ul > li:has(> ul) {
	margin-bottom: unset;
}

.article .article-body ul > li::before {
	display: block;
	position: absolute;
	margin-top: 0.65em;
	padding: 0.18em 0.18em;
	margin-left: -1em;
	font-weight: 600;
	line-height: 1em;
	background-color: var(--color-article-text);
	content: "";
}

.article .article-body ol > li::before {
	content: counter(listitem);
	counter-increment: listitem 1;
	background: var(--color-li-num-bg);
	color: var(--color-article-heading-text);
}

.article .article-body ol::before {
	counter-reset: listitem;
}

.article .article-body ol > li::before,
.article .article-body ol > li > ol > li > ol > li > ol > li::before,
.article .article-body ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li::before {
	content: counter(listitem, decimal);
}

.article .article-body ol > li > ol > li::before,
.article .article-body ol > li > ol > li > ol > li > ol > li > ol > li::before,
.article .article-body ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li::before {
	content: counter(listitem, lower-latin);
}

.article .article-body ol > li > ol > li > ol > li::before,
.article .article-body ol > li > ol > li > ol > li > ol > li > ol > li > ol > li::before,
.article .article-body ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li > ol > li::before {
	content: counter(listitem, lower-roman);
}

.article .article-body ul > li::before,
.article .article-body ul ul ul ul > li::before,
.article .article-body ul ul ul ul ul ul ul > li::before {
	border-radius: 100%;
}

.article .article-body ul ul > li::before,
.article .article-body ul ul ul ul ul > li::before,
.article .article-body ul ul ul ul ul ul ul ul > li::before {
	background: transparent;
	outline: 1px solid var(--color-article-text);
}

.article .article-body ul ul ul > li::before,
.article .article-body ul ul ul ul ul ul > li::before,
.article .article-body ul ul ul ul ul ul ul ul ul > li::before {
	border-radius: 0;
	background-color: var(--color-article-text);
	outline: none;
}

.article code,
.article pre {
	tab-size: 4;
	margin: 1em 0;
	overflow: auto;
	padding: 2px 2px;
	background: var(--color-code-bg);
	color: var(--color-article-heading-text);
}

.article code {
	border-radius: var(--radius-small);
}

.article pre {
	border-radius: var(--radius-large);
	padding: 1.375em 1.625em;
}

.article pre::-webkit-scrollbar {
	height: 7px;
	background-color: var(--color-code-bg);
	border-radius: 10px;
}

.article pre::-webkit-scrollbar-thumb {
	background: var(--color-scroll);
	border-radius: 7px;
}

.article pre .token-line {
	line-height: 20px;
}

.article .icon {
	vertical-align: middle;
	font-style: normal;
}

.article .cmd {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	border-radius: var(--radius-medium);
	background: var(--color-cmd-bg);
	padding: 0.475em 0.75em;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 0.75em;
	border: solid 1px var(--color-cmd-border);
	color: var(--color-cmd-text);
	box-shadow: var(--inline-element-shadow);
	letter-spacing: 0.04em;
}

.article .cmd span {
	line-height: 1;
}

.article .cmd i.icon {
	font-size: 0.75em;
}

.article blockquote {
	padding-left: 1.25rem;
	margin: 1.15em 0;
	font-size: 1.08em;
	border-left: 5px solid #eee;
}

.article kbd {
	font-family: "Inter", sans-serif;
	font-style: normal !important;
	border-radius: var(--radius-small);
	background-color: var(--color-kbd-bg);
	border: 1px solid var(--color-kbd-border);
	padding: 0.25em 0.425em;
	font-size: 0.75em;
	color: var(--color-kbd-text);
	letter-spacing: 0.04em;
}

.article kbd.active {
	cursor: pointer;
	box-shadow: none;
	padding: 0.13rem 0.6rem !important;
	padding-bottom: 0.19rem !important;
	border-color: var(--color-image-line);
	color: var(--color-article-heading-text);
}

.article kbd.active:hover {
	background: var(--color-contextmenu-bg);
}

.article video {
	width: 100%;
	height: 100%;
}

.article .ff-canvas,
.article img {
	border-radius: var(--radius-small);
	box-shadow: var(--shadows-deeplight);
	max-width: 100%;
	border: 0;
	display: block;
}

.article img + em,
.article .drawio + em,
.article .img + em,
.article .video-js + em,
.article .error-video + em,
.article [data-qa="qa-diagram-data"] > em,
.article [data-qa="qa-drawio"] > em,
.article .img-v + p > em:first-of-type,
.article .img-h + p > em:first-of-type,
.article .main-container + em,
.article .node-image em {
	display: block;
	font-size: 13px;
	margin-top: -4px;
	font-weight: 300;
	line-height: 1.4em;
	text-align: center;
	margin-bottom: 16px;
	color: var(--color-image-title);
}

.article .lightbox .__react_modal_image__large_img {
	max-width: none;
	max-height: none;
}

.img-h {
	display: flex;
}

.img-v img,
.img-h img {
	border: solid 1px var(--color-image-line);
}

.img-v img:last-child {
	margin-top: 0;
}

.img-v img:first-of-type {
	margin-bottom: 10px;
}

.img-h img {
	max-width: 49%;
	flex-basis: 49%;
}

.img-h img:first-of-type {
	margin-right: 2px;
}

.img-h img:last-child {
	margin-left: 2px;
}

.article ol,
.article ul {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.article ul li,
.article ol li {
	line-height: 1.7em;
	margin-bottom: 0.6em;
}

.article li > p,
.article li > p {
	line-height: 1.7em;
}

.article .article-body a > strong {
	color: var(--color-link);
}

.article .article-body a {
	color: var(--color-link);
	font-weight: inherit;
	cursor: pointer;
}

.article .article-body a:hover {
	text-decoration: underline;
}

.article .article-body table th,
.article strong {
	font-weight: 500;
	color: var(--color-article-strong-text);
}

.article span[data-color] strong {
	color: inherit;
}

.article h1 strong,
.article h2 strong,
.article h3 strong,
.article h4 strong,
.article h5 strong,
.article h6 strong {
	font-size: 1em;
	font-weight: inherit;
}

.article .issueLink {
	padding: 2px 5px;
	background: var(--color-code-bg);
	border-radius: var(--radius-small);
	font-size: 0.85em;
	white-space: nowrap;
}

.article table p {
	margin: 0;
}

.article table {
	width: 100%;
	max-width: 100%;
	padding: 1.25em 1.5em;
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
}

.article table .delete {
	background-color: var(--color-table-action-delete);
}

.article table .add-row,
.article table .add-column {
	opacity: 0.13;
	background-color: var(--color-table-action-add);
}

.article table .add-row {
	position: absolute;
	top: -3px;
	left: 0;
	height: 5px;
	width: 100%;
}

.article table[data-header="column"] tbody tr td:first-child,
.article table[data-header="both"] tbody tr td:first-child,
.article table[data-header="row"] tbody tr:first-child td,
.article table[data-header="both"] tbody tr:first-child td,
.article table tbody tr[data-aggregation] td,
.article table thead td {
	font-weight: 500;
	color: var(--color-article-strong-text);
}

.article table td[align="center"],
.article table th[align="center"] {
	text-align: center;
}

.article table td[align="right"],
.article table th[align="right"] {
	text-align: right;
}

.article table td[align="left"],
.article table th[align="left"] {
	text-align: left;
}

.article table .add-row.row-end {
	top: auto;
	bottom: -3px;
}

.article table .add-column.column-end {
	left: auto;
	right: -3px;
}

.article table .add-column {
	position: absolute;
	top: 0;
	left: -3px;
	height: 100%;
	width: 5px;
}

.article table > thead > tr > th {
	vertical-align: bottom !important;
	border-bottom: 1px solid var(--color-line);
}

.article table > thead > tr > th:not([align]) {
	text-align: left;
}

.article table > tbody > tr > td,
.article table > tbody > tr > th,
.article table > tfoot > tr > td,
.article table > tfoot > tr > th,
.article table > thead > tr > td,
.article table > thead > tr > th {
	border: 1px solid var(--color-table-border);
	border-collapse: collapse;
}

.article table > thead > tr > th,
.article table > thead > tr > td {
	border-bottom: unset;
}

.article table > tbody > tr:has(> td:hover),
.article table > tbody > tr:has(> th:hover),
.article table > tfoot > tr:has(> td:hover),
.article table > tfoot > tr:has(> th:hover),
.article table > thead > tr:has(> td:hover),
.article table > thead > tr:has(> th:hover) {
	background-color: var(--color-table-row-hover);
}

.article table > tbody > tr > td,
.article table > tbody > tr > th,
.article table > tfoot > tr > td,
.article table > tfoot > tr > th,
.article table > thead > tr > td,
.article table > thead > tr > th {
	text-align: left;
	padding: 0.5rem 1rem;
	vertical-align: top;
	word-break: break-word;
	white-space: normal;
}

.article table > tbody > tr > td:empty,
.article table > tbody > tr > th:empty,
.article table > tfoot > tr > td:empty,
.article table > tfoot > tr > th:empty,
.article table > thead > tr > td:empty,
.article table > thead > tr > th:empty {
	height: 3em;
}

.article code,
.article pre.prism-code {
	font-family: "Roboto Mono", Consolas, monospace;
	font-size: 0.813em;
	font-weight: normal;
}

.article a code {
	color: unset;
}

.article h1 code,
.article h2 code,
.article h3 code,
.article h4 code,
.article h5 code,
.article h6 code {
	font-size: inherit;
}

.article .tags {
	margin-left: 40px;
	padding: 0;
	position: relative;
	bottom: -12px;
	list-style: none;
}

.article .tags li {
	margin-right: 1em;
}

.article .tags li,
.article .tags span {
	float: left;
	line-height: 20px;
	position: relative;
	font-size: 12px;
}

.article .tags span {
	margin-left: 12px;
	padding: 0 8px 0 14px;
	background: var(--color-code-bg);
	color: var(--color-primary-general);
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.article .tags span:before {
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -8px;
	width: 0;
	height: 0;
	border-color: transparent var(--color-code-bg) transparent transparent;
	border-style: solid;
	border-width: 10px 8px 10px 0;
}

.article .tags span:after {
	content: "";
	position: absolute;
	top: 8px;
	left: 4px;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: var(--radius-x-small);
	-webkit-border-radius: var(--radius-x-small);
	border-radius: var(--radius-x-small);
	background: #fff;
	box-shadow: -1px -1px 2px var(--color-shadows-guidance);
}

.article .inline-code {
	position: relative;
	line-height: 100% !important;
}

.article .inline-code code {
	cursor: pointer;
}

.article .inline-code:hover code {
	background: var(--color-code-bg-hover);
}

.article .inline-code:hover .copy {
	display: inline;
}

.article .inline-code .copy {
	display: none;
	position: absolute;
	font-size: 0.813em;
	margin-top: 0.25em;
	padding: 0.15625em 0.28125em;
	border-radius: var(--radius-small);
	background: var(--color-article-bg);
}

.article .diagram-background {
	width: 100%;
	padding: 0.8em;
	position: relative;
	border-radius: var(--radius-large);
	margin: 0.5em 0;
	background-color: var(--color-diagram-bg);
}

.article .hover-right-button {
	top: 8px;
	width: 35px;
	right: 8px;
	height: 35px;
	display: flex;
	cursor: pointer;
	font-size: 17px;
	padding: 0 2px;
	border-radius: var(--radius-medium);
	position: absolute;
	align-items: center;
	justify-content: center;
	color: var(--color-primary-general);
	background: var(--color-article-bg);
}

.article .hover-right-button:hover {
	color: var(--color-primary);
}

.article .hover-right-button > i {
	padding-left: 0 !important;
}

.article .skeleton-pulse {
	max-width: 100%;
	background-color: hsl(var(--color-skeleton-bg) / 0.1);
	animation: SkeletonPulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes SkeletonPulse {
	50% {
		opacity: 0.5;
	}
}

.article [data-float] {
	clear: both;
}

.article [data-float="left"] {
	position: relative;
	float: left;
	margin-right: 0.8em;
	margin-top: 0.5em;
	z-index: 1;
}

.article [data-float="right"] {
	position: relative;
	float: right;
	margin-left: 1.35em;
	margin-top: 0.5em;
	z-index: 1;
}
