[data-theme="dark"] .hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #1e1e1e;
	color: #dcdcdc;
}
[data-theme="dark"] .hljs {
	color: #ffffff;
	background: #1c1b1b;
}
[data-theme="dark"] .hljs-subst {
	color: #ffffff;
}
[data-theme="dark"] .hljs-comment {
	color: #999999;
}
[data-theme="dark"] .hljs-keyword,
[data-theme="dark"] .hljs-selector-tag,
[data-theme="dark"] .hljs-meta .hljs-keyword,
[data-theme="dark"] .hljs-doctag,
[data-theme="dark"] .hljs-section {
	color: #88aece;
}

[data-theme="dark"] .hljs-attr {
	color: #88aece;
}
[data-theme="dark"] .hljs-attribute {
	color: #c59bc1;
}
[data-theme="dark"] .hljs-name,
[data-theme="dark"] .hljs-type,
[data-theme="dark"] .hljs-number,
[data-theme="dark"] .hljs-selector-id,
[data-theme="dark"] .hljs-quote,
[data-theme="dark"] .hljs-template-tag {
	color: #f08d49;
}
[data-theme="dark"] .hljs-selector-class {
	color: #88aece;
}
[data-theme="dark"] .hljs-string,
[data-theme="dark"] .hljs-regexp,
[data-theme="dark"] .hljs-symbol,
[data-theme="dark"] .hljs-variable,
[data-theme="dark"] .hljs-template-variable,
[data-theme="dark"] .hljs-link,
[data-theme="dark"] .hljs-selector-attr {
	color: #b5bd68;
}
[data-theme="dark"] .hljs-meta,
[data-theme="dark"] .hljs-selector-pseudo {
	color: #88aece;
}
[data-theme="dark"] .hljs-built_in,
[data-theme="dark"] .hljs-title,
[data-theme="dark"] .hljs-literal {
	color: #f08d49;
}
[data-theme="dark"] .hljs-bullet,
[data-theme="dark"] .hljs-code {
	color: #cccccc;
}
[data-theme="dark"] .hljs-meta .hljs-string {
	color: #b5bd68;
}
[data-theme="dark"] .hljs-deletion {
	color: #de7176;
}
[data-theme="dark"] .hljs-addition {
	color: #76c490;
}
[data-theme="dark"] .hljs-emphasis {
	font-style: italic;
}
[data-theme="dark"] .hljs-strong {
	font-weight: bold;
}

/*!
  Theme: StackOverflow 
*/

[data-theme="light"] .hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #2f3337;
	background: #f6f6f6;
}
[data-theme="light"] .hljs-comment {
	color: #656e77;
	font-style: italic;
}
[data-theme="light"] .hljs-keyword,
[data-theme="light"] .hljs-selector-tag,
[data-theme="light"] .hljs-meta-keyword,
[data-theme="light"] .hljs-doctag,
[data-theme="light"] .hljs-section,
[data-theme="light"] .hljs-selector-class,
[data-theme="light"] .hljs-meta,
[data-theme="light"] .hljs-selector-pseudo,
[data-theme="light"] .hljs-attr {
	color: #015692;
}
[data-theme="light"] .hljs-attribute {
	color: #803378;
}
[data-theme="light"] .hljs-name,
[data-theme="light"] .hljs-type,
[data-theme="light"] .hljs-number,
[data-theme="light"] .hljs-selector-id,
[data-theme="light"] .hljs-quote,
[data-theme="light"] .hljs-template-tag,
[data-theme="light"] .hljs-built_in,
[data-theme="light"] .hljs-title,
[data-theme="light"] .hljs-literal {
	color: #b75501;
}
[data-theme="light"] .hljs-string,
[data-theme="light"] .hljs-regexp,
[data-theme="light"] .hljs-symbol,
[data-theme="light"] .hljs-variable,
[data-theme="light"] .hljs-template-variable,
[data-theme="light"] .hljs-link,
[data-theme="light"] .hljs-selector-attr,
[data-theme="light"] .hljs-meta-string {
	color: #54790d;
}
[data-theme="light"] .hljs-bullet,
[data-theme="light"] .hljs-code {
	color: #535a60;
}
[data-theme="light"] .hljs-deletion {
	color: #c02d2e;
}
[data-theme="light"] .hljs-addition {
	color: #2f6f44;
}
[data-theme="light"] .hljs-emphasis {
	font-style: italic;
}
[data-theme="light"] .hljs-strong {
	font-weight: bold;
}
