/** biome-ignore-all lint/complexity/noImportantStyles: <explanation> */
.ProseMirror {
	position: relative;
	font-feature-settings: "liga" 0;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	word-wrap: break-word;
	white-space: inherit;
	outline-width: 0 !important;
	outline-style: none;
	outline-color: initial;
}

.ProseMirror-hideselection *::selection {
	background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
	background: transparent;
}
.ProseMirror-hideselection {
	caret-color: transparent;
}

.ProseMirror img.ProseMirror-separator {
	display: inline !important;
	margin: 0 !important;
	border: none !important;
}

.ProseMirror .scrollableContent:has(.tableComponent) {
	position: relative;
}

.ProseMirror .focus-pointer-events {
	pointer-events: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

[data-iseditable="true"] .ProseMirror-selectednode .focus-pointer-events {
	pointer-events: auto !important;
}

[data-iseditable="true"] .ProseMirror-selectednode [data-focusable="true"] {
	outline: 2px solid var(--color-focus);
	outline-offset: -2px;
}

.ProseMirror a {
	cursor: text !important;
}

.ProseMirror p:empty::after {
	content: "\00A0" !important;
}

.ProseMirror li {
	position: relative;
}
.ProseMirror li > p {
	line-height: 1.7em;
}

.ProseMirror pre {
	white-space: pre-wrap;
}

.ProseMirror [data-comment="true"] {
	transition:
		background var(--transition-time-fast) ease-in-out,
		outline var(--transition-time-fast) ease-in-out;
}

.ProseMirror [data-comment="true"]:not([data-comment-block="true"]) {
	color: var(--color-comment-fg);
	cursor: pointer;
	background: var(--color-comment-bg);
	border-bottom: 2px solid var(--color-comment-border);
}

.ProseMirror [data-comment="true"]:has(.active),
.ProseMirror .active [data-comment="true"] {
	background: var(--color-comment-hover-bg);
	border-bottom-color: var(--color-comment-block-hover-border);
}

.ProseMirror .has-comment [data-comment="true"] {
	width: inherit;
	height: inherit;
	cursor: default !important;
	outline: 2px solid var(--color-comment-block-border);
	border-bottom: none !important;
	border-radius: inherit;
}

.ProseMirror .active [data-comment-block="true"] {
	outline: 2px solid var(--color-comment-block-hover-border);
	background: unset;
}

.ProseMirror pre > div {
	padding: 0;
	font-size: 0.8rem;
	line-height: 20px;
	color: var(--color-fence-text);
	white-space: nowrap;
	background: none !important;
}

.ProseMirror blockquote {
	padding-left: 1rem;
	border-left: 2px solid rgba(#0d0d0d, 0.1);
}

.ProseMirror hr {
	margin: 2rem 0;
	border: none;
	border-top: 2px solid rgba(#0d0d0d, 0.1);
}

.ProseMirror .color:before {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: 0.1em;
	margin-bottom: 0.15em;
	vertical-align: middle;
	content: " ";
	background-color: var(--color);
	border: 1px solid rgba(128, 128, 128, 0.3);
	border-radius: var(--radius-x-small);
}

.ProseMirror *,
.ProseMirror *:before,
.ProseMirror *:after {
	box-sizing: border-box;
}

.ProseMirror table {
	margin: 0;
	border-collapse: collapse;
}
.ProseMirror table td,
.ProseMirror table th {
	position: relative;
	box-sizing: border-box;
	min-width: 1em;
}

.ProseMirror table td,
.ProseMirror table th > * {
	margin-bottom: 0;
}

.ProseMirror table th {
	text-align: left;
}

.ProseMirror table .selectedCell:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: var(--z-index-selected-cell);
	pointer-events: none;
	content: "";
	background: var(--color-focus);
	opacity: 0.15;
}

.ProseMirror table .column-resize-handle {
	position: absolute;
	top: 0;
	right: -3px;
	bottom: 0;
	width: 5px;
	pointer-events: none;
	background-color: var(--color-table-actions);
	opacity: 0.13;
}

.table-actions {
	position: absolute;
}

.resize-cursor {
	cursor: col-resize;
}

[data-qa="editor"] > .ProseMirror p.is-empty:first-of-type:last-of-type::before,
[data-qa="article-editor"] > .ProseMirror p.is-empty::before {
	float: left;
	height: 0;
	pointer-events: none;
	content: attr(data-placeholder);
	opacity: 0.4;
}

[data-qa="article-editor"] > .ProseMirror {
	padding: 0 30px;
	margin: 0 -30px;
}

[data-qa="article-editor"] > .ProseMirror > p:first-of-type {
	width: 100%;
	max-width: 95%;
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 2em;
	font-weight: 700;
	line-height: 1.3 !important;
	color: var(--color-article-heading-text);
	caret-color: var(--color-article-heading-text) !important;
}

[is-template="true"] > *:not([data-editable="true"]):not(:has([data-editable="true"])) {
	caret-color: transparent !important;
}

.ProseMirror gr-file {
	color: var(--color-link);
}

/* temp styles below */
.deleted-text {
	color: var(--color-removed-text);
	background: var(--color-removed-bg);
}

.deleted-text-block {
	position: relative;
}

.deleted-text-block:after {
	position: absolute;
	top: 0;
	left: -20px;
	width: 3px;
	height: 100%;
	content: "";
	background: var(--color-status-deleted);
}

.added-text {
	color: var(--color-added-text);
	background: var(--color-added-bg);
}

.ProseMirror .blur-selection {
	display: inline;
	background-color: Highlight;
	color: inherit;
	padding: 5px 0;
	box-decoration-break: clone;
}
