:root {
	--color-info: #cef;
	--color-gray: #f3f3f3;
	--color-danger: #ff3131;
	--color-warning: #ffba00cc;
	--color-secondary: #41dd92;
	--color-lightgray: #f9f7fb;
	--color-search-text: black;
	--color-lightprimary: #0c77af;
	--color-secondary-dark: #23ba72;
	--color-active-white: #ffffff99;
	--color-active-white-hover: white;
	--color-breadcrumb-text: #00000099;
	--color-breadcrumb-text-hover: black;
	--color-loader: #9a9a9a;
	--color-focus: #0563d6;

	--color-link-dark-theme: hsl(205deg 79% 52%);
	--color-article-text-dark-theme: #abb2d4;

	--radius-x-small: 2px;
	--radius-small: 4px;
	--radius-medium: 6px;
	--radius-large: 8px;
	--radius-x-large: 10px;
	--radius-xx-large: 12px;

	--top-bar-height: 48px;
	--bottom-bar-height: 42px;
	--scroll-width: 7px;
	--big-icon-size: 20px;
	--left-nav-width: 20rem;
	--narrow-nav-width: 260px;
	--distance-i-span: 0.5em;
	--distance-i-span-min: 0.35em;
	--distance-actions: 0.8rem;
	--default-form-width: 540px;
	--heading-row-width-admonition: 28px;

	--bar-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.16);
	--bar-shadow-vertical: -3px 0px 12px -5px rgba(0, 0, 0, 0.16);
	--menu-tooltip-shadow: rgb(6 6 6 / 18%) -1px 2px 10px;
	--comment-tooltip-shadow: 0px 0px 12px 1px rgba(13, 13, 13, 0.19);

	--color-comment-bg: #ffa80060;
	--color-comment-hover-bg: #ffa80080;
	--color-comment-active-bg: #ffa800a0;
	--color-comment-active-text: #000000;
	--color-removed-text: rgb(255 82 82);
	--color-removed-text-opacity: rgb(255 82 82 / 60%);
	--color-resolve-comment-active-bg: #ededed;
	--color-added-bg: rgba(148, 238, 173, 0.24);
	--color-added-bg-opacity: rgba(148, 238, 173, 0.14);
	--color-resolve-comment-active-text: #999999;
	--color-removed-bg: rgba(248, 164, 164, 0.24);
	--color-removed-bg-opacity: rgba(248, 164, 164, 0.14);
	--color-modal-overlay-style-bg: rgba(19, 19, 19, 0.75);

	--merger-top-primary: rgba(13, 153, 255, 1);
	--merger-top-bg: rgba(13, 153, 255, 0.25);
	--merger-top-bg-opacity: rgba(13, 153, 255, 0.15);

	--merger-bottom-primary: rgba(151, 71, 255, 1);
	--merger-bottom-bg: rgba(151, 71, 255, 0.25);
	--merger-bottom-bg-opacity: rgba(151, 71, 255, 0.15);

	--version-control-primary: rgb(0, 122, 204);
	--version-control-primary-opacity: rgb(0, 122, 204, 0.25);
	--status-bar-height: 22px;

	--transition-time: 0.3s;
	--navigation-transition: transform var(--transition-time) ease 0s, width var(--transition-time) ease 0s,
		padding var(--transition-time) ease 0s, padding-right var(--transition-time) ease 0s;

	--article-max-width: 780px;

	--z-index-background: -1;
	--z-index-foreground: 1;
	--z-index-selected-cell: 2;
	--z-index-base: 100;
	--z-index-article-modal: 200;
	--z-index-article-confirm-modal: 300;
	--z-index-popover: 1000;
	--z-index-nav-layout: 102;
	--z-index-header-navigation: 103;
	--z-index-article-search: 110;
}

[data-theme="light"] {
	--color-lev-sidebar-hover: #ffffffa3;

	--color-block: hsl(0deg 0% 98%);
	--color-block-hover: #ffffff;
	--color-block-hover-inverse: hsl(206deg 40% 20%);

	--color-primary: black;
	--color-primary-inverse: white;
	--color-line: #a4a4a4;
	--color-scroll: #a4a4a4;
	--color-scroll-bg: #a4a4a420;
	--color-image-line: #c8c8c8;
	--color-image-title: #00000099;
	--color-primary-general: rgb(120, 120, 120);
	--color-primary-general-inverse: rgb(177, 178, 184);

	--color-primary-secondary: rgba(0, 0, 0, 0.4);
	--color-fence-text: #403f53;

	--color-tooltip-text: #fbfbfb;
	--color-tooltip-background: #2b2a2d;

	--color-tooltip-text-inverse: #1d2135;
	--color-tooltip-background-inverse: #f4f4f5;

	--color-menu-bg: #f4f4f4;
	--color-menu-opacity-bg: #f4f4f4c7;
	--color-code-bg: #00000012;
	--color-code-bg-hover: #0000000a;
	--color-code-copy-bg: #f0f0f0;
	--color-tooltip-opacity-bg: rgb(0 0 0 / 60%);
	--color-article-bg: #ffffff;
	--color-diagram-bg: #ffffff;
	--color-li-num-bg: #0000000d;
	--color-contextmenu-bg: #f8f8f8;
	--color-comment-input-bg: #fbfbfb;
	--color-admonition-hotfixes-bg: #f4f4f4;
	--color-article-search-bg: #ffffff;
	--color-article-hotkey-search-bg: #ffd500a0;
	--color-article-hotkey-search-bg-active: #ffa800ef;

	--color-placeholder: #a9a9a9;

	--color-property-bg-border: #e4e4e7;
	--color-property-bg-main: #f8fafc;
	--color-property-text-name: #1e293b;
	--filter-property: 95%;

	--color-link: #126199;
	--color-code-text: #944c4c;
	--color-prism-text: black;
	--color-search-code: #0000000d;
	--color-prism-number-text: rgb(9, 134, 88);
	--color-prism-punctuation-text: #393a34;
	--color-article-text: black;
	--color-article-heading-text: black;
	--color-article-strong-text: black;
	--color-article-hotkey-search-text: var(--color-article-text);

	--color-shadows: #00000020;
	--color-shadows-scroll: #0000002b;
	--color-shadows-guidance: #00000050;

	--shadows-light: 0 0 10px rgba(0, 0, 0, 0.1);
	--shadows-deeplight: 0 0 10px rgba(0, 0, 0, 0.15);
	--shadows-changeable-deeplight: 0 0 10px rgba(0, 0, 0, 0.15);

	--color-admonition-lab-bg: hsl(252 100% 97.06%);
	--color-admonition-tip-bg: hsla(200, 50%, 95%, 1);
	--color-admonition-note-bg: hsl(37.5deg 100% 95.29%);
	--color-admonition-info-bg: hsla(220, 100%, 95%, 1);
	--color-admonition-danger-bg: hsla(0, 100%, 96%, 1);

	--color-admonition-hotfixes-br-h: #7b7b7b;
	--color-admonition-quote-br-h: #9e9e9e;
	--color-admonition-lab-br-h: hsl(250.09 59.78% 64.9%);
	--color-admonition-tip-br-h: hsla(200, 100%, 44%, 1);
	--color-admonition-note-br-h: hsl(37.42deg 90.29% 40.39%);
	--color-admonition-info-br-h: hsla(220, 44%, 47%, 1);
	--color-admonition-danger-br-h: hsl(0, 74%, 42%);

	--color-alert-warning-border: hsl(41, 100%, 86%);
	--color-alert-error-border: hsl(0, 100%, 89%);

	--color-hp-product-bright-orange: hsl(48deg 65% 97%);
	--color-hp-product-dark-orange: hsl(39deg 65% 97%);
	--color-hp-product-blue-green: hsl(147deg 65% 97%);
	--color-hp-product-green: hsl(100deg 65% 97%);
	--color-hp-product-blue: hsl(168deg 65% 97%);
	--color-hp-product-red: hsl(0deg 65% 97%);

	--color-comments-bg: #ffffff;
	--color-body-text: var(--color-input-active-text);
	--color-btn-bg: #f8f1e5;
	--color-text-accent: #ffa800;
	--color-input-active-text: #535353;
	--color-line-comment: #eeeeee;
	--color-input-bg: #fbfbfb;

	--color-comments-paragraph: rgba(255, 168, 0, 0.1);
	--color-comments-paragraph-active: rgba(255, 168, 0, 0.4);

	--color-edit-menu-button-active-bg: rgb(255, 255, 255, 0.2);
	--color-edit-menu-button-active-bg-inverse: rgb(0, 0, 0, 0.2);

	--color-text-count: #ffffff;
	--color-text-main: #686868;
	--color-text-secondary: #969696;

	--color-input-disabled-text: #4e526366;

	--color-btn-stroke: var(--color-text-accent);

	--color-icon-main: #a1a3a9;
	--color-icon-active: #4e5263;
	--color-icon-accent: var(--color-text-accent);
	--color-comment-text: var(--color-text-accent);

	--color-added-text: rgb(34 141 45);
	--color-added-text-opacity: rgb(34 141 45 / 60%);
	--color-resolve-comment-bg-1: rgb(84 84 84 / 10%);
	--color-resolve-comment-bg-2: rgb(84 84 84 / 20%);
	--color-resolve-comment-bor-1: rgb(84 84 84 / 50%);
	--color-resolve-comment-bor-2: rgb(84 84 84 / 60%);
	--color-resolve-comment-text: #a4a4a4;

	--content-file-plus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(18, 97, 153)" width="23" height="16" viewBox="1 1 22 22" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-plus"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M9 15h6"/><path d="M12 18v-6"/></svg>');

	--color-navigation-article-drop-target: #e2e8f0;
}

[data-theme="dark"] {
	--color-primary: white;
	--color-primary-inverse: black;
	--color-block: #182b39cf;
	--color-block-hover: hsl(206deg 40% 20%);
	--color-block-hover-inverse: #ffffff;

	--color-line: hsl(230deg 15% 35%);
	--color-scroll: hsl(230deg 15% 35% / 50%);
	--color-scroll-bg: rgba(76, 80, 103, 0.2);
	--color-image-line: #2b2f45;
	--color-image-title: #abb2d499;
	--color-primary-general: rgb(177, 178, 184);
	--color-primary-general-inverse: rgb(120, 120, 120);
	--color-primary-secondary: rgba(255, 255, 255, 0.4);
	--color-lev-sidebar-hover: var(--color-input-bg);
	--color-fence-text: #d6deeb;
	--color-article-hotkey-search-bg: rgba(255, 213, 0, 0.94);
	--color-article-hotkey-search-bg-active: rgb(255, 136, 0);

	--color-tooltip-text: #1d2135;
	--color-tooltip-background: #f4f4f5;

	--color-tooltip-text-inverse: #fbfbfb;
	--color-tooltip-background-inverse: #2b2a2d;

	--color-menu-bg: #151828;
	--color-menu-opacity-bg: #151828c7;
	--color-code-bg: #ffffff1a;
	--color-code-bg-hover: #ffffff0d;
	--color-code-copy-bg: #313547;
	--color-tooltip-opacity-bg: rgba(255, 255, 255, 0.6);
	--color-article-bg: #1a1e33;
	--color-diagram-bg: #f6f8fa;
	--color-li-num-bg: #ffffff0d;
	--color-contextmenu-bg: #181b2d;
	--color-comment-input-bg: #1d2135;
	--color-article-search-bg: #313547;

	/* --color-placeholder: #5c5d64; */
	--color-placeholder: #abb2d4cc;

	--color-property-bg-border: #27272a;
	--color-property-bg-main: #020617;
	--color-property-text-name: #e2e8f0;
	--filter-property: 80%;

	--color-link: var(--color-link-dark-theme);
	--color-code-text: hsl(0deg 40% 60%);
	--color-prism-text: #cad4ff8c;
	--color-search-code: #ffffff0d;
	--color-prism-number-text: rgb(181, 206, 168);
	--color-prism-punctuation-text: rgb(212, 212, 212);
	--color-article-text: var(--color-article-text-dark-theme);
	--color-article-heading-text: hsl(230deg 32% 90%);
	--color-article-strong-text: hsl(230deg 32% 88%);
	--color-article-hotkey-search-text: black;

	--color-shadows: hsl(0deg 0% 100% / 0%);
	--color-shadows-scroll: #ffffff2b;
	--color-shadows-guidance: #3a3a3a94;

	--shadows-light: 0 0 10px rgba(0, 0, 0, 0.1);
	--shadows-deeplight: 0 0 10px rgba(0, 0, 0, 0.15);
	--shadows-changeable-deeplight: 0 0 10px rgba(255, 255, 255, 0.15);

	--color-admonition-hotfixes-bg: rgba(255, 255, 255, 0.07);
	--color-admonition-lab-bg: rgba(255, 255, 255, 0.07);
	--color-admonition-tip-bg: rgba(255, 255, 255, 0.07);
	--color-admonition-note-bg: rgba(255, 255, 255, 0.07);
	--color-admonition-info-bg: rgba(255, 255, 255, 0.07);
	--color-admonition-danger-bg: rgba(255, 255, 255, 0.07);

	--color-admonition-quote-br-h: hsl(0deg 0% 70%);
	--color-admonition-hotfixes-br-h: hsl(0deg 0% 70%);
	--color-admonition-lab-br-h: hsl(249.71deg 68.63% 70%);
	--color-admonition-tip-br-h: hsl(200deg 100% 50%);
	--color-admonition-note-br-h: hsl(37.5deg 90.32% 48.63%);
	--color-admonition-info-br-h: hsl(220deg 50% 70%);
	--color-admonition-danger-br-h: hsl(0deg 100% 75%);

	--color-alert-warning-border: hsl(38, 90%, 24%);
	--color-alert-error-border: hsl(16, 78%, 35%);

	--color-hp-product-bright-orange: hsl(48deg 13% 29%);
	--color-hp-product-dark-orange: hsl(39deg 13% 29%);
	--color-hp-product-blue-green: hsl(147deg 13% 29%);
	--color-hp-product-green: hsl(100deg 13% 29%);
	--color-hp-product-blue: hsl(168deg 13% 29%);
	--color-hp-product-red: hsl(0deg 13% 29%);

	--color-comments-bg: #151828;
	--color-body-text: var(--color-text-main);
	--color-btn-bg: #252833;
	--color-text-accent: #ffa800;
	--color-input-active-text: #d6d8e0;
	--color-line-comment: var(--color-input-bg);
	--color-input-bg: #1d2135;

	--color-comments-paragraph: rgba(255, 168, 0, 0.16);
	--color-comments-paragraph-active: rgba(255, 168, 0, 0.32);

	--color-edit-menu-button-active-bg: rgb(0, 0, 0, 0.2);
	--color-edit-menu-button-active-bg-inverse: rgb(255, 255, 255, 0.2);

	--color-text-count: #000000;
	--color-text-main: #a1a3a9;
	--color-text-secondary: #73757e;

	--color-input-disabled-text: #4e5263;

	--color-btn-stroke: var(--color-text-accent);

	--color-icon-main: var(--color-text-secondary);
	--color-icon-active: var(--color-input-active-text);
	--color-icon-accent: var(--color-text-accent);
	--color-comment-text: var(--color-text-accent);

	--color-resolve-comment-bg-1: rgb(250 250 250 / 12%);
	--color-resolve-comment-bg-2: rgb(250 250 250 / 24%);
	--color-resolve-comment-bor-1: rgb(250 250 250 / 32%);
	--color-resolve-comment-bor-2: rgb(250 250 250 / 62%);
	--color-resolve-comment-text: var(--color-text-main);

	--color-added-text: rgb(100 206 112);
	--color-added-text-opacity: rgb(100 206 112 / 60%);

	--content-file-plus: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(36, 149, 229)" width="23" height="16" viewBox="1 1 22 22" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-plus"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M9 15h6"/><path d="M12 18v-6"/></svg>');

	--color-navigation-article-drop-target: #334155;
}
