<!doctype html>
<html lang="ru">

<head>
  <!--base-tag-->
  <meta charset="UTF-8" />
  <title><!--title-content--></title>
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, interactive-widget=resizes-content, viewport-fit=cover" />
  <%- criticalStyle %> <%- vars %><%- themes %>
  <script>
    const global = {};
  </script>
  <!--data.js-->
  <script>
    <!--app-config-->
  </script>
  <script>
    <!--app-data-->
  </script>
  <%- polyfill %>
  <script defer type="module" src="./src/Components/hydrate.tsx"></script>
  <!--app-styles-->
  <%- ensureCustomStyleLast %>
</head>

<body id="custom-style">
  <div data-qa="app" id="root"><!--app-body--></div>
</body>
<%- bodyDatasetInjector %>
</html>
